body {
  background-color: bisque;
}

.wrapper {
  background-color: white;
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-top: 200px;
}

.todo-list-item {
  display: flex;
  width: 450px;
  gap: 30px;
  font-size: 20px;
  padding: 15px 50px;
}

.draggable {
  padding: 1rem;
  background-color: white;
  border: 1px solid black;
  cursor: move;
}

.draggable.dragging {
  opacity: 0.5;
}

.list {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  align-items: center;
  border-color: gray;
}

.dots {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  cursor: move;
}

.dots > span {
  font-size: 16px;
  font-weight: bolder;
  height: 10px;
  position: relative;
  top: -8px;
}

.user-input {
  border: none;
  padding: 15px 50px;
  font-size: 16px;
  font-style: italic;
  width: 100%;
}

.heading {
  padding: 15px 50px;
  font-size: 20px;
  margin: 0;
}

.clear {
  padding: 20px;
  text-align: center;
  background-color: rgb(235, 191, 135);
  border: none;
  cursor: pointer;
  transition: all 0.4s;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: gray;
}

.flex {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: gray;
  align-items: center;
  margin: 0;
  padding-right: 10px;
}

svg {
  fill: gray;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

input {
  border: none;
  background-color: transparent;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-style: italic;
  color: gray;
}

button {
  background: none;
  border: none;
}

#refresh-btn {
  color: #8a2be2;
  font-size: 1.2rem;
  transition: all 0.3s;
}

#refresh-btn:hover {
  transform: scale(1.4) rotateZ(90deg);
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list li {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-top: solid 1px #333;
}

.task-input {
  flex: 1;
  text-transform: capitalize;
}

.remove-btn {
  display: none;
  fill: crimson;
  transition: all 0.1s;
  width: 50px;
}

.drag-btn {
  cursor: move;
}

.todo-list li:focus-within .remove-btn {
  display: block;
}

.todo-list li:focus-within .drag-btn {
  display: none;
}
