body {
  background-color: bisque;
}

.wrapper {
  background-color: white;
  border-radius: 12px;
  width: 580px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 50%;
  transform: translateX(-300px);
}

.todo-list {
  width: 480px;
  height: 100px;
  text-decoration: none;
  list-style: none;
  padding: 0 50px 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.todo-list-item {
  display: flex;
  width: 450px;
  gap: 30px;
  font-size: 20px;
  padding: 0 50px;
}

.list {
  display: flex;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  align-items: center;
  border-color: gray;
}

.dots {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}

.dots > span {
  font-size: 16px;
  font-weight: bolder;
  height: 10px;
}

.user-input {
  border: none;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: gray;
  padding: 5px 50px;
  font-size: 16px;
  font-style: italic;
}

.heading {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: gray;
  padding: 5px 50px;
  font-size: 20px;
  margin: 0;
}
